<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513595517776-9uu3uqmr3ie1htep9rg32hrju88o3t5q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513595517776-9uu3uqmr3ie1htep9rg32hrju88o3t5q</string>
	<key>API_KEY</key>
	<string>AIzaSyDDhONON385kQr15RKlPlbvQ3YTAh6BsNs</string>
	<key>GCM_SENDER_ID</key>
	<string>513595517776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yumemi.TODO-App</string>
	<key>PROJECT_ID</key>
	<string>test-todo-6cbce</string>
	<key>STORAGE_BUCKET</key>
	<string>test-todo-6cbce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513595517776:ios:b51d5b796c619480f59a55</string>
</dict>
</plist>